@keyframes marqueeOne {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }
  @keyframes marqueeTwo {
    0% {
      transform: translate3d(var(--move-final), 0, 0);
    }
    100% {
      transform: translate3d(var(--move-initial), 0, 0);
    }
  }
  .marquee-container {
    width: 100%;
    display: flex;
    place-items: center;
  }
   .marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
  }
   .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    white-space: nowrap;
  }
   .marquee__inner span {
    font-size: 10vw;
    padding: 0 2vw;
    text-transform: uppercase;
    font-family: $primary-family;
  }
   .marquee .first {
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marqueeOne 10s linear infinite;
  }
   .marquee .first span {
    font-family: $primary-family;
  }
 