header {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;
    backdrop-filter: blur(10px);

    .container {
        height: 100%;
    }

    .btn__container {
        margin-top: 0;
        display: flex;
        gap: 2rem;

        .btn {
            border: none;
            padding: 7px 50px;
            width: auto;
            border-radius: 25px;
            cursor: pointer;
            font-size: 1.4rem;
            line-height: calc(1.4rem * 1.4);
            font-family: $primary-family;
            text-align: center;
            color: $black;
            border: 1px solid $black;
        }
    }
}

.header__logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 2rem;
    color: $black;
    font-weight: bold;
    font-size: 3rem;

    a {
        text-decoration: none;
    }

    img {
        width: 100%;
        height: auto;
        max-width: 30px;
    }
}

.activLink {
    background-color: var(--color-yellow);
    border-radius: 2rem;
    color: var(--color-black) !important;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
    text-decoration: underline;
    text-underline-offset: 1rem;
}