._toastItem {
    font-size: 1.2rem;
    width: 300px !important;
    height: 60px !important;
}

._toastBtn  {
    padding-top: 0.5rem !important
}

._toastContainer {
    top: var(--toastContainerTop, 1.5rem);
    right: var(--toastContainerRight, 2rem);
    bottom: var(--toastContainerBottom, auto);
    left: var(--toastContainerLeft, auto);
}
