/* Open Sans Bold */
@font-face {
  font-family: 'Open Sans Bold';
  src: url('assets/font/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Open Sans Bold Italic */
@font-face {
  font-family: 'Open Sans Bold';
  src: url('assets/font/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Open Sans ExtraBold */
@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url('assets/font/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Open Sans ExtraBold Italic */
@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url('assets/font/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Open Sans Italic */
@font-face {
  font-family: 'Open Sans Italic';
  src: url('assets/font/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
}

/* Open Sans Light */
@font-face {
  font-family: 'Open Sans Light';
  src: url('assets/font/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Open Sans Light Italic */
@font-face {
  font-family: 'Open Sans Light';
  src: url('assets/font/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Open Sans Medium */
@font-face {
  font-family: 'Open Sans Medium';
  src: url('assets/font/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Open Sans Medium Italic */
@font-face {
  font-family: 'Open Sans Medium';
  src: url('assets/font/OpenSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Open Sans Regular */
@font-face {
  font-family: 'Open Sans Regular';
  src: url('assets/font/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Open Sans SemiBold */
@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('assets/font/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Open Sans SemiBold Italic */
@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('assets/font/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Open Sans Condensed Bold */
@font-face {
  font-family: 'Open Sans Condensed Bold';
  src: url('assets/font/OpenSans_Condensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Open Sans Condensed Bold Italic */
@font-face {
  font-family: 'Open Sans Condensed Bold';
  src: url('assets/font/OpenSans_Condensed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Open Sans Condensed ExtraBold */
@font-face {
  font-family: 'Open Sans Condensed ExtraBold';
  src: url('assets/font/OpenSans_Condensed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Open Sans Condensed ExtraBold Italic */
@font-face {
  font-family: 'Open Sans Condensed ExtraBold';
  src: url('assets/font/OpenSans_Condensed-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Open Sans Condensed Italic */
@font-face {
  font-family: 'Open Sans Condensed Italic';
  src: url('assets/font/OpenSans_Condensed-Italic.ttf') format('truetype');
  font-style: italic;
}

/* Open Sans Condensed Light */
@font-face {
  font-family: 'Open Sans Condensed Light';
  src: url('assets/font/OpenSans_Condensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Open Sans Condensed Light Italic */
@font-face {
  font-family: 'Open Sans Condensed Light';
  src: url('assets/font/OpenSans_Condensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Open Sans Condensed Medium */
@font-face {
  font-family: 'Open Sans Condensed Medium';
  src: url('assets/font/OpenSans_Condensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Open Sans Condensed Medium Italic */
@font-face {
  font-family: 'Open Sans Condensed Medium';
  src: url('assets/font/OpenSans_Condensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Open Sans Condensed Regular */
@font-face {
  font-family: 'Open Sans Condensed Regular';
  src: url('assets/font/OpenSans_Condensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Open Sans Condensed SemiBold */
@font-face {
  font-family: 'Open Sans Condensed SemiBold';
  src: url('assets/font/OpenSans_Condensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Open Sans Condensed SemiBold Italic */
@font-face {
  font-family: 'Open Sans Condensed SemiBold';
  src: url('assets/font/OpenSans_Condensed-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Open Sans SemiCondensed Bold */
@font-face {
  font-family: 'Open Sans SemiCondensed Bold';
  src: url('assets/font/OpenSans_SemiCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Open Sans SemiCondensed Bold Italic */
@font-face {
  font-family: 'Open Sans SemiCondensed Bold';
  src: url('assets/font/OpenSans_SemiCondensed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Open Sans SemiCondensed ExtraBold */
@font-face {
  font-family: 'Open Sans SemiCondensed ExtraBold';
  src: url('assets/font/OpenSans_SemiCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

