@font-face {
  font-family: 'Open Sans Regular';
  src: url('/assets/font/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('/assets/font/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('/assets/font/OpenSans-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}