.hero {
    height: 100vh;
    .wrapper {
        display: flex;
        gap: 5rem;

        h1 {
            font-size: 20rem;
        }
    }

    p {
        max-width: 700px;
        text-align: center;
        font-size: 1.7rem;
    }
}

.hero__content {
    background: linear-gradient(#fff, #F8F8F8);
    border-radius: 2rem;
    width: 100%;
    height: calc(100% - 10rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    @media screen and (max-width: 768px) {
       gap: 1rem;
    }
}

@media (max-width: 1064px) {
    .hero {
        .wrapper {
            align-items: center;
            gap: 2rem;

            h1 {
                font-size: 14rem;
            }

            img {
                height: 60%;
            }
        }
    }
}

@media (max-width: 768px) {
    .hero {
        .wrapper {
            align-items: center;
            gap: 3rem;
            max-height: 100px;

            h1 {
                font-size: 8rem;
            }

            img {
                height: 40%;
            }
        }
    }
}

@media (max-width: 468px) {
    .hero {
        .wrapper {
            h1 {
                font-size: 6rem;
            }

            img {
                height: 30%;
            }
        }
    }
}