// = Colors
// -----------------------------
$black: #000;
$white: #F8F8F8;

:root {
    --color-black: #000;
    --color--white: #FFF;
    --color-white-soft: #F8F8F8;
    --color-yellow: #E3F16A;
}

main {
    padding: 12rem 5rem;
}

@media (max-width: 768px) {
    main {
        padding: 12rem 2rem;
    }

    .header__container {
        padding: 1.5rem 2rem !important;
    }
}

$primary-family: 'Open Sans Regular', sans-serif;

// = Container
// -----------------------------
.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-column {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

// = Buttons
// -----------------------------
.btn__container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.btn,
button,
.card__actions {
    padding: 0.7rem 2.5rem;
    border-radius: 2rem;
    cursor: pointer;
    line-height: calc(1.4rem * 1.4);
    font-family: $primary-family;
    text-align: center;
    border: 1px solid $black;
    color: $black;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    position: relative;
    min-width: 150px;

    &:hover {
        &::after {
            opacity: 1;
            transform: translateX(0rem);
        }
    }

    &::after {
        position: absolute;
        right: 1rem;
        content: "";
        background-color: $black;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        opacity: 0;
        transform: translateX(-1rem);
        transition: 0.2s ease-in-out;
    }
}

button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}